body {
  width: 100%;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

/* ヘッダー */
#header-bar {
  position: fixed;
  background-color: rgb(213, 213, 213, 0.5);
  width: 100%;
  height: 140px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 20;
  transition: 0.6s;
  font-size: 18px;
  font-weight: 500;
}

#header-bar.transform {
  background-color: rgb(86, 86, 86, 0.6);
  height: 50px;
  transition: 0.6s;
}

/* ヘッダー左側（タイトル部分） */
#header-title {
  font-size: 20px;

  margin-left: 20px;
  color: #252525;
}

/* ヘッダー右側（メニュー部分） */
#header-right {
  width: 50%;
}

#menus {
  list-style: none;
  display: flex;
  justify-content: space-around;
}

.menu > a {
  text-decoration: none;
  color: #252525;
}
/* ヘッダー */


/* メイン */

/* main画像 */
#image-area {
  position: relative;
}

#image-area > img {
  width: 100%;
  display: block;
}

#link-source {
  position: absolute;
  bottom: 1%;
  right: 0.5%;
}

#link-source {
  font-size: 12px;
  color: #c5c5c5;
  position: absolute;
  z-index: 10;
}

#link-source > a {
  text-decoration: none;
  color: #c5c5c5;
}

/* works */
#work-area {
  background-color: #d7cec7;
  height: 750px;
}

#work-title {
  height: 10%;
  font-size: 20px;
  text-align: center;
  padding: 30px 0;
}

#works {
  display: flex;
  align-items: center;
  padding: 280px 50px;
}

#work-list {
  width: 100%;
}

#work-lists {
  margin: 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.list { 
  list-style: none;
}

.list > a {
  text-decoration: none;
}

#more {
  text-align: right;
  padding-right: 200px;
}

/* about me */
#about-me {
  background-color: #76323fb3;
  height: 500px;
}

/* contact */
#contact {
  background-color: #d7cec7;
  height: 500px;
}

#item-list {
  height: 100%;
  display: flex;
  justify-content: space-around;
}

#items {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.item {
  list-style: none;
}

.item > a {
  text-decoration: none;
}

/* メイン */


/* フッター */

footer {
  text-align: center;
  background-color: #d7cec7;
  height: 50px;
}

/* フッター */