body {
  width: 100%;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  color: #252525;
}

/* html {
  scroll-behavior: smooth;
} */

/* ヘッダー */
#header-bar {
  position: fixed;
  background-color: rgba(213, 213, 213, 0.344);
  width: 100%;
  height: 140px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 20;
  transition: 0.6s;
  font-size: 20px;
  font-weight: 500;
}

#header-bar.transform {
  background-color: rgb(213, 213, 213, 0.8);
  height: 50px;
  transition: 0.6s;
}

/* ヘッダー左側（タイトル部分） */
#header-title {
  font-size: 20px;
  margin-left: 20px;
}

/* ヘッダー右側（メニュー部分） */
#header-right {
  width: 50%;
}

#menus {
  list-style: none;
  display: flex;
  justify-content: space-around;
}

.menu > a {
  text-decoration: none;
  color: #252525;
}
/* ヘッダー */


/* メイン */

/* main画像 */
#image-area {
  position: relative;
}

#image-area > img {
  width: 100%;
  display: block;
}

#link-source {
  position: absolute;
  bottom: 1%;
  right: 0.5%;
}

#link-source {
  font-size: 12px;
  color: #c5c5c5;
  position: absolute;
  z-index: 10;
}

#link-source > a {
  text-decoration: none;
  color: #c5c5c5;
}

/* works */
#work-area {
  background-color: #f1ece8;
  height: 800px;
}

#work-title {
  color: #4b4b4b;
  font-size: 20px;
  text-align: center;
  padding: 50px 0;
}

#works {
  display: flex;
  align-items: center;
  padding: 200px 50px;
}

#work-list {
  width: 100%;
}

#work-lists {
  margin: 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.list { 
  list-style: none;
  font-size: 20px;
}

.list > a {
  text-decoration: none;
}

#more {
  text-align: right;
  padding-right: 200px;
}

/* about me */
#about-me {
  background-color: #b16371b3;
  height: 800px;
  color: #4b4b4b;
}

#about-me-title {
  padding-top: 50px;
}

/* contact */
#contact {
  background-color: #f1ece8;
  height: 740px;
  color: #4b4b4b;
}

#contact-title {
  text-align: center;
  padding-top: 50px;
}

h2 {
  font-size: 30px;
  font-size: 3rem;
  position: relative;
  padding: 1.5rem;
  text-align: center;
}

h2 span {
  font-size: 18px;
  font-size: 1.8rem;
  display: block;
}

h2:before {
  position: absolute;
  bottom: -5px;
  left: calc(50% - 30px);
  width: 60px;
  height: 5px;
  content: '';
  border-radius: 3px;
  background: #565656;
}


#item-list {
  height: 550px;
  display: flex;
  justify-content: space-around;
}

#items {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 0 100px;
}

.item {
  list-style: none;
}

/* メイン */


/* フッター */

footer {
  text-align: center;
  background-color: #f1ece8;
  height: 50px;
}

/* フッター */

/* フェードインアニメーション */
.scroll-anime {
  opacity: 0;
  transition : all 1000ms;
}

.scroll-anime.fadeIn {
  opacity: 1;
}
/* フェードインアニメーション */

/* モーダル表示アニメーション */
.modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  z-index: 20;
}

.modal-back {
  background: rgba(0,0,0,0.8);
  height: 100vh;
  width: 100%;
}

.modal-content {
  background: #fff;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  height: 90vh;
  width: 80%;
}

.modal-content-inner {
  position: relative;
  padding: 80px;
  color: #4b4b4b;
}

.modal-content-inner > a > img {
  margin: 10px;
}

.link-to-github,
.link-to-site {
  margin-left: 40px;
  font-size: 14px;
}

.modal-title {
  font-size: 25px;
  margin-bottom: 40px;
}

.modal-work {
  display: flex;
  height: 60%;
}

.modal-close {
  position: absolute;
  top: 10;
  color: #4b4b4b;
  margin-top: 50px;
}

body.fixed {
  position: fixed;
  left: 0;
}

#link-source {
  z-index: 5;
}
/* モーダル表示アニメーション */