body {
  width: 100%;
}

* {
  box-sizing: border-box;
}

/* ヘッダー */
#header-bar {
  background-color: beige;
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* ヘッダー左側（タイトル部分） */
#header-left {
  background-color: #96cbdc;
}

#header-title {
  font-size: 20px;
  margin-left: 20px;
}

/* ヘッダー右側（メニュー部分） */
#header-right {
  background-color: #63b2aa;
  width: 50%;
}

#menus {
  list-style: none;
  display: flex;
  justify-content: space-around;
}

.menu > a {
  text-decoration: none;
  color: #252525;
}
/* ヘッダー */


/* メイン */
/* works */
#work-area {
  background-color: #fff3b7;
  height: 500px;
}

#work-title {
  height: 10%;
  font-size: 20px;
  text-align: center;
  padding: 15px 0;
}

#works {
  height: 90%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

#work-list {
  width: 100%;
}

#work-lists {
  margin: 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.work-list { 
  list-style: none;
}

.work-list > a {
  text-decoration: none;
}

/* about me */
#about-me {
  background-color: #d1ffc4;
  height: 500px;
}

/* contact */
#contact {
  background-color: #c4d1ff;
  height: 500px;
}
/* メイン */


/* フッター */

footer {
  background-color: #ffefda;
  text-align: center;
}

/* フッター */